<header>
  <nav class="fixed top-0 left-0 bg-red-500 h-12 w-full flex items-center px-6">
    
    <!-- Logo -->
    <div class="text-white font-semibold text-lg mr-8">
      Airbnb
    </div>

    <!-- LEFT MENU -->
    <ul class="flex space-x-6 text-white text-sm items-center">
      
        <li>
        <a href="/"
           class="<%= currentPage === 'index' ? 'bg-red-400' : 'hover:border-white' %>
                  border border-transparent p-1.5 rounded-sm flex items-center gap-1">
          <i class="fa-solid fa-house"></i>
          Home
        </a>
      </li>
      

      <% if(isLoggedIn) { %>
      
      <% if(user.userType === 'guest') { %>
      <li>
        <a href="/favourites"
           class="<%= currentPage === 'favourites' ? 'bg-red-400' : 'hover:border-white' %>
                  border border-transparent p-1.5 rounded-sm flex items-center gap-1">
          <i class="fa-solid fa-heart"></i>
          Favourites
        </a>
      </li>
      <% } %>
      <% if(user.userType === 'host') { %>
      <li>
        <a href="/add-home"
           class="<%= currentPage === 'add-home' ? 'bg-red-400' : 'hover:border-white' %>
                  border border-transparent p-1.5 rounded-sm flex items-center gap-1">
          <i class="fa-solid fa-plus"></i>
          Add Home
        </a>
      </li>
      <% } %>
      <% if(user.userType === 'host') { %>

      <li>
        <a href="/host/host-homes"
           class="<%= currentPage === 'host-homes' ? 'bg-red-400' : 'hover:border-white' %>
                  border border-transparent p-1.5 rounded-sm flex items-center gap-1">
          <i class="fa-solid fa-building"></i>
          Host Homes
        </a>
      </li>
      <% } %>
      <% } %>
    </ul>

    <!-- RIGHT MENU -->
    <ul class="flex space-x-6 text-white text-sm items-center ml-auto">
      <% if(!isLoggedIn) { %>
      <li>
        <a href="/login"
           class="<%= currentPage === 'login' ? 'bg-red-400' : 'hover:border-white' %>
                  border border-transparent p-1.5 rounded-sm flex items-center gap-1">
          <i class="fa-solid fa-right-to-bracket"></i>
          Login
        </a>
      </li>

      <li>
        <a href="/signin"
           class="<%= currentPage === 'signin' ? 'bg-red-400' : 'hover:border-white' %>
                  border border-transparent p-1.5 rounded-sm flex items-center gap-1">
          <i class="fa-solid fa-user-plus"></i>
          Sign in
        </a>
      </li>
      <% } else { %>
      <li>
        <form action="/logout" method="POST"
              class="<%= currentPage === 'signin' ? 'bg-red-400' : 'hover:border-white' %>
                     border border-transparent p-1.5 rounded-sm flex items-center gap-1">
          <button type="submit">
            <i class="fa-solid fa-right-from-bracket"></i>
            Logout
          </button>
        </form>
      </li>
      <% } %>
    </ul>

  </nav>
</header>
